


<div ng-app="weebook-app" id="defaultContainer" class="container" data-user-id=<%= current_user.id.to_s %> >
    <div id="wrapper">    	

      <div ui-view>
      	UI VIEW
      </div>
    </div>
</div>