
<div class="container templates" ng-controller="BookCtrl">
    <h1 class="page_titles"id="booksTitle">BOOKS</h1>
    <div class="form-group">
      <input ng-model="searchBook" name="searchbox" type="text" class="form-control search" id="searchbar" placeholder="Search">
    </div><br>
    <div class="scroll" id="bookshtml"> 
      <div id="resultsfield" ng-repeat="book in books | filter:searchBook ">
        <div id="workcontainer" class="bookshtml">
          <div id="title">
            <div class="bookslabel"><p class="size"><strong>Title of Book</strong></p></div>
            <div class="content"><p>{{book.title}}</p></div>
          </div>
          <div id="tools">
            <div class="bookslabel"><p class="size"><strong>Author</strong></p></div>
            <div class="content"><p>{{book.author}}</p></div>
          </div>
          <div id="time">
            <div class="bookslabel"><p class="size"><strong>ISBN</strong></p></div>
            <div class="content"><p>{{book.ISBN}}</p></div>
          </div>
          <div id="duration">
            <div class="bookslabel"><p class="size"><strong>Course Code</strong></p></div>
            <div class="content"><p>{{book.course_code}}</p></div>
          </div>
          <div id="createdat">
            <div class="bookslabel"><p class="size">Created At:</p></div>
            <div class="content"><p>{{book.created_at}}</p></div>
          </div>
          <div id="contact">
            <p class="bookslabel"><a class="size" href="mailto:{{job.contact_email}}?subject=Help From TrueGood">
              CONTACT
            </a></p>
          </div>
          <div id="delete">
            <span>
              <a ng-click="deleteBook(book);" class="btn btn-info"> DELETE </a>
            </span>
          </div>
        </div>
        
      </div>
    </div>
</div>

<a ui-sref="checkout">Shopping Cart</a><br>
<a ui-sref="home">Home</a>
