<div class="container templates" ng-controller="BookCtrl">
    <h1 class="page_titles">BOOKS</h1>
    <div class="form-group">
      <input ng-model="searchBook" name="searchbox" type="text" class="form-control search" id="searchbar" placeholder="Search">
    </div><br>
    <div class="scroll"> 
      <div id="resultsfield" ng-repeat="book in books | filter:searchBook ">
        <div id="workcontainer">
          <div id="title">
            <div class="bookslabel"><p class="size"><strong>Title of Book</strong></p></div>
            <div class="content"><p>{{book.title}}</p></div>
          </div>
          <div id="author">
            <div class="bookslabel"><p class="size"><strong>Author</strong></p></div>
            <div class="content"><p>{{book.author}}</p></div>
          </div>
          
          
          <div ng-show="book.details">
          <div id="ISBN">
            <div class="bookslabel"><p class="size"><strong>ISBN</strong></p></div>
            <div class="content"><p>{{book.ISBN}}</p></div>
          </div>
            <div class="bookimage"><img src="bike.jpg"></div>
            <div id="coursecode">
              <div class="bookslabel"><p class="size"><strong>Course Code</strong></p></div>
              <div class="content"><p>{{book.course_code}}</p></div>
            </div>
            <div id="createdat">
              <div class="bookslabel"><p class="size"><strong>Submitted</strong></p></div>
              <div class="content"><p>{{book.created_at}}</p></div>
            </div>
            <div id="buy">
              <button class="btn btn-info">Buy Now!</button>
            </div>
          </div>
          <div ng-hide="book.details" class="showHide">
            <a ng-click="showBook(book);" class="btn btn-info" id="showicon">+</a>
          </div>
          <div ng-show="book.details" class="showHide">
            <a ng-click="hideBook(book);" class="btn btn-info"id="hideicon">-</a>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- 
<a ui-sref="checkout">Shopping Cart</a><br>
<a ui-sref="home">Home</a>
               -->