<a ui-sref="books">Back to browsing</a>

<div class="container templates" ng-controller="BookCtrl">
  <div id="thankyou">
    <h1>Shopping Cart</h1>
    <div id="iteminfo">
      <div class="row userbookcontainer">
        <div class="col-md-12 userBookList">
          <div class="userbookcontent">
            <ul><strong>Title: </strong>How To Make It At LMU</ul>
            <ul><strong>Author: </strong>Claire Ortega</ul>
            <ul><strong>ISBN: </strong>1234-1234</ul>
            <ul><strong>Course Code: </strong>LMU-SW</ul>
          </div>
          <div class="bookcoverplaceholder"></div> 
        </div>
      </div>
    </div>

<!-- <div ng-repeat="book in shoppingcart">
  

</div> -->
    
  </div>
  <div class="fakebutton">
    <button type="button" class="btn btn-primary">Confirm Purchase</button>
    </div>
</div>