<a ui-sref="books">Back to browsing</a>

<div class="container templates" ng-controller="BookCtrl">
  <div id="thankyou">
    <h1>Shopping Cart</h1>
    <div id="iteminfo">
      <div class="row userbookcontainer">
        <div class="col-md-12 userBookList">
          <div class="userbookcontent">
            <ul><strong>Title: </strong>{{ book.title }}</ul>
            <ul><strong>Author: </strong>{{ book.author }}</ul>
            <ul><strong>ISBN: </strong>{{ book.ISBN }}</ul>
            <ul><strong>Course Code: </strong>{{ book.course_code }}</ul>
          </div>
          <div class="bookcoverplaceholder"></div> 
        </div>
      </div>
    </div>

<!-- <div ng-repeat="book in shoppingcart">
  

</div> -->
    
  </div>
  <div class="fakebutton">
    <button type="button" class="btn btn-primary">Confirm Purchase</button>
    </div>
</div>