<div class="container templates" ng-controller="BookCtrl">
  <div class="sellpage">
    <div class="sellhomebutton">
      <a ui-sref="home">Home</a>
    </div>
   
   <!--  <div class="form-group">
      <input ng-model="searchBook" name="searchbox" type="text" class="form-control search" id="searchbar" placeholder="Search">
    </div><br> -->
   
    <div class="scroll"> 
       <div class="selltitle">
        <h1>Sell</h1>
       </div>
      <form name="form" id="sellForm" class="form-group" >
        <label for="title"><strong>Title:</strong></label>
          <input ng-model="newBook.title" type="text" name="title" class="form-control" placeholder="Title">
        <label for="author"><strong>Author:</strong></label>
          <input ng-model="newBook.author" type="text" name="author" class="form-control" placeholder="Author">
        <label for="ISBN"><strong>ISBN:</strong></label>
          <input ng-model="newBook.ISBN" type="text" name="ISBN" class="form-control" placeholder="ISBN">
        <label for="course_code"><strong>Course Code:</strong></label>
          <input ng-model="newBook.course_code" type="text" name="course_code" class="form-control" placeholder="Course Code">
        <br>
        <div class="sellbutton">
          <button type="button" class="btn btn-primary" ng-click="saveBook()"><a ui-sref="profile">Sell My Book!</a></button>
        </div>
        
        
      </form>
  <!-- <div class="form-group">
      <input ng-model="searchBook" name="searchbox" type="text" class="form-control search" id="searchbar" placeholder="Search">
    </div><br> -->

      <!-- <div id="resultsfield" ng-repeat="book in books | filter:searchBook ">
        <div id="workcontainer">
          <div id="type">
            <div class="bookslabel"><p class="size"><strong>Type of Work</strong></p></div>
            <div class="content"><p>{{book.title}}</p></div>
          </div>
          <div id="tools">
            <div class="bookslabel"><p class="size"><strong>Tools Needed</strong></p></div>
            <div class="content"><p>{{book.author}}</p></div>
          </div>
          <div id="time">
            <div class="bookslabel"><p class="size"><strong>Time Preference</strong></p></div>
            <div class="content"><p>{{book.ISBN}}</p></div>
          </div>
          <div id="duration">
            <div class="bookslabel"><p class="size"><strong>Job Duration</strong></p></div>
            <div class="content"><p>{{book.course_code}}</p></div>
          </div>
          <div id="createdat">
            <div class="bookslabel"><p class="size">Created At:</p></div>
            <div class="content"><p>{{book.created_at}}</p></div>
          </div>
          <div id="contact">
            <p class="bookslabel"><a class="size" href="mailto:{{job.contact_email}}?subject=Help From TrueGood">
              CONTACT
            </a></p>
          </div>
          <div id="delete">
            <span>
              <a ng-click="deleteBook(book);" class="btn btn-info"> DELETE </a>
            </span>
          </div>
        </div>
        
      </div> -->
   
    </div>
  </div>
</div>






