<div class="container templates" >
    <h1 class="page_titles">SELL SELL SELL</h1>
   <!--  <div class="form-group">
      <input ng-model="searchBook" name="searchbox" type="text" class="form-control search" id="searchbar" placeholder="Search">
    </div><br> -->
    <div class="scroll"> 
      <form name="form" ng-submit="saveJob();" class="form-group" >
        <label for="title"><strong>Title:</strong></label>
          <input ng-model="book.title" type="text" name="title" class="form-control" placeholder="Title">
        <label for="author"><strong>Author:</strong></label>
          <input ng-model="book.author" type="text" name="author" class="form-control" placeholder="Author">
        <label for="ISBN"><strong>ISBN:</strong></label>
          <input ng-model="book.ISBN" type="text" name="ISBN" class="form-control" placeholder="ISBN">
        <label for="course_code"><strong>Course Code:</strong></label>
          <input ng-model="book.coursecode" type="text" name="course_code" class="form-control" placeholder="Course Code">
        <br>
        <button class="button" ng-click="savebook()">Sell My Book!</button>
        
      </form>
          <div class="form-group">
      <input ng-model="searchBook" name="searchbox" type="text" class="form-control search" id="searchbar" placeholder="Search">
    </div><br>

      <div id="resultsfield" ng-repeat="book in books | filter:searchBook ">
        <div id="workcontainer">
          <div id="type">
            <div class="bookslabel"><p class="size"><strong>Type of Work</strong></p></div>
            <div class="content"><p>{{book.title}}</p></div>
          </div>
          <div id="tools">
            <div class="bookslabel"><p class="size"><strong>Tools Needed</strong></p></div>
            <div class="content"><p>{{book.author}}</p></div>
          </div>
          <div id="time">
            <div class="bookslabel"><p class="size"><strong>Time Preference</strong></p></div>
            <div class="content"><p>{{book.ISBN}}</p></div>
          </div>
          <div id="duration">
            <div class="bookslabel"><p class="size"><strong>Job Duration</strong></p></div>
            <div class="content"><p>{{book.course_code}}</p></div>
          </div>
          <div id="username">
            <div class="bookslabel"><p class="size">Created By:</p></div>
            <div class="content"><p>{{book.user.name}}</p></div>
          </div>
          <div id="createdat">
            <div class="bookslabel"><p class="size">Created At:</p></div>
            <div class="content"><p>{{book.created_at}}</p></div>
          </div>
          <div id="contact">
            <p class="bookslabel"><a class="size" href="mailto:{{job.contact_email}}?subject=Help From TrueGood">
              CONTACT
            </a></p>
          </div>
          <div id="delete">
            <span>
              <a ng-click="deleteJob(job);" class="btn btn-info"> DELETE </a>
            </span>
          </div>
        </div>
        
      </div>
   
    </div>
</div>

<a ui-sref="checkout">Shopping Cart</a><br>
<a ui-sref="home">Home</a>
