// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#bookshtml {
padding-top: 0px;
margin-left: 0px;
}
div.bookshtml#workcontainer {
color: black;
text-align: center;
}
h1#booksTitle {
color: black;
text-shadow: none;
}
    .container.ng-scope     {
        padding: 0px;
        
      }
      .boxes {
        margin: 5px 0;
        height: 220px;
        width: 320px;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 111px;
        color: white;
        opacity: 0.8;
      }
      .topbox {
        
        background-image: url("/assets/bookcase.jpg");
        
      }
      .topbox2 {
        
        background-image: url("/assets/bike.jpg");
        
      }

      img {
        height: 68px;
        opacity: 0.9;
      }
      .homeh1{
      text-shadow: 2px 2px rgba(0,0,0,.7);
      text-align: center;
      margin-top: -20px;
    }

    div#defaultContainer {
width: 320px;
}
.form-group {
width: 320px;
}
div#workcontainer {
width: 320px;
line-height: 20px;
font-size: 20px;
}
.container.templates.ng-scope {
width: 320px;
}
#buy button{
  margin-bottom:10px;
  background-color:#f79656;
  border-color:#db7137;
}
.showHide{
  margin-bottom:10px;
}
button a {
text-decoration: none;
color: white;
}
button a:hover {
text-decoration: none;
color: beige;
}



/* START PROFILE PAGE STYLING */


.sellpage {
  background-image: url("/assets/leavesbike2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 600px;
  width: 342px;
}
.page_titles {
  color: white;
  text-shadow: 2px 2px rgba(0,0,0,.7);
  margin-left: 99px;
}
.scroll {
  color: white;
  width: 280px;
  margin-left: 15px;
  opacity: 0.8;
  padding-top: 103px;
}

#sellForm {
  width: 275px;
}
.sellbutton {
  margin-left: 79px;
}
.sellhomebutton a{
  color: white;
}
.selltitle h1{
  color: white;
  text-align: center;
}

.profileContainer {
  max-width: 320px;
}
.userBookList {
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px;
  width: 250px;
  height: auto;
  border: 1px solid grey;
  border-radius: 10px;
}


.row.userHeader {
  height: 115px;
  margin-bottom: 20px;
  margin-left: 0px;
  
}

h1.userHeaderFont {
  text-align: center;
  font-size: 25px;
}

.row.userbookcontainer {
  margin-left: 0px;
}
.userbookcontent {
  margin-bottom: 30px;
}

.bookcoverplaceholder {
  height: 100px;
  width: 100px;
  background-color: lightgrey;
  margin: 0 auto;
}

span.emailfont {
  color: red;
}

h5.selleremail {
  text-align: center;
}

.spacer {
  width: 75%;
  border-bottom: 1px solid grey;
  margin: 0 auto;
}

.profilebuttons {
  margin: 0 auto;
  text-align: center;
}
button.btn.btn-info.linkbutton {
width: 120px;
}

.linkbuttonlist {
  margin: 5px;
  display: block;
}
